* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gradiant-button: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );

  --color-background: #ebf2ff;
  --color-heading: #1d3557;
}
h1 {
  color: var(--color-heading);
  font-size: 2rem;
}

body {
  font-family: "Merriweather", san-serif;
  background-color: var(--color-background);
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

/* reusable */
.button--primary {
  background-image: var(--gradiant-button);
  padding: 0.6rem 0.8rem;
  border: none;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  transition: background-image 2s ease;
  background-size: 200% auto;
  transition: transform 0.25s ease;
}
.button--primary:hover,
.button--primary:focus {
  background-image: linear-gradient(
    to left,
    #dd2476 0%,
    #ff512f 51%,
    #dd2476 100%
  );
  transform: scale(0.98);
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 2px 6px grey;
}
.navbar__brand {
  width: 100px;
}
.navbar__logo {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 3rem;
  }
  .button--primary {
    padding: 0.75rem 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    justify-content: space-between;
    padding: 0 3rem;
  }
  .navbar__brand {
    width: 9.5%;
  }
  .button--primary {
    padding: 1rem 1.8rem;
  }
}

/* hero section */

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.container__img {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 1rem;
}
.hero__img {
  position: absolute;
  width: 88%;
  z-index: 2;
  top: 18%;
  left: 7%;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.hero__shape__img {
  position: absolute;
}

.hero__description {
  position: relative;
  padding: 0 4.5%;
  width: 90%;
  margin: auto;
  text-align: left;
}
.hero__text {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .hero-container {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 0 4% 1rem 1%;
  }
  .hero__description {
    text-align: left;
    line-height: 1.2;
    padding-right: 0;
    margin-left: 2%;
  }
  h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

/* card section */
.card__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card {
  width: 282.391px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px auto;
}
.card,
.card:active {
  transform: scale(1) translateY(0);
  transition: transform 0.25s ease;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 30%);
}
.card:hover,
.card:focus {
  transform: scale(1.01) translateY(-3px);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 60%);
}
.food__description {
  padding: 1.5rem;
}
.explore__menu__text {
  width: fit-content;
  margin: auto;
}
.view__more__btn {
  display: flex;
  justify-content: center;
}
.btn{
  width: 282.391px;
  display: block;
}

@media screen and (min-width: 768px) {
  .explore__menu__text {
    margin-bottom: 3rem;
  }
  .btn {
    display: inline-block;
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    transition: all 0.37s ease-in-out;
    transform: scale(1.03);
  }
  .btn:hover {
    display: block;
    background-image: none;
    background-color: white;
    color: #dd2476;
    width: 30%;
    font-weight: 700;
  }

  .card__container {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    z-index: 2;
  }
  #middle__card {
    margin: -20px auto 50px auto;
  }
  .food__menu {
    width: 90%;
    margin: auto;
    transform: none;
  }
  .menu__card .explore__menu__rombus {
    transform: skewY(-5deg);
  }
  .explore__menu__rombus {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    background: var(--gradiant-button);

    z-index: -3;
  }
  .menu__card {
    position: relative;
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .food__menu {
    width: 80%;
  }
}

/* testimonial */
.testimonial {
  width: 90%;
  margin: 3rem auto;
}
.restaurent__text {
  text-align: center;
}
.restaurent1,
.restaurent4 {
 width: 41%;
 height: 10%;
 border-radius: 10px;
}
.restaurent2,
.restaurent3{
  width: 55%;
 height: 20%;
  border-radius: 10px;
}
.restaurent__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 3rem auto;
}
.restaurent__row__one {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: flex-end;
}
.restaurent__row__two{
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

@media screen and (min-width:768px){
  .restaurent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  .testimonial{
     padding: 0 4.5%;
  }
  .restaurent1,.restaurent4{
 width: 45%;
 height: auto;
  }
  .restaurent2,.restaurent3{
width: 60%;
max-height: 220px;

  }
  .restaurent__container{
    width: 50%;
  }
  .restaurent__text{
    text-align: left;
  }
}
/* contact */
.contact{
 display: flex;
 flex-direction: column;
 gap: 10px;
 justify-content: center;
 align-items: center;
 margin: 3rem auto;
 width: 90%;
}
.contact__text{
  text-align: center;
}
.round{
  border-radius: 30px;
  padding: 0.4rem auto;
  margin:  4px;
  white-space: nowrap;
}

.email{
  border-radius: 30px;
  border: none;
  outline: none;
  display: inline-block;
}
.input{
  /* display: inherit;
width: fit-content;
margin: auto; */
display: flex;
justify-content: space-evenly;
  border-radius: 30px;
  padding-left: 30px;
  background-color: #fff;
  white-space: nowrap;
  margin:2px auto;
}
@media screen and (min-width:768px){
  .contact{
    justify-content: space-between;
  }
}

/* banner */

.banner{
  width: 80%;
  height: fit-content;
  margin: 2rem auto;
  border-radius: 8px;

}
.banner__text{
  color: rgba(255, 255, 255);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15rem;
  padding: 10%;
  font-size: 1.5rem;
}
@media screen and (min-width:1024px){
  .banner__text{
    font-size: 2.6rem;
  }
  
}

/* footer */
li{
  list-style: none;
  color: #fff;
}
footer{
  background-image: var(--gradiant-button);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px 30px 0 0;
}
.footer__logo img{
  width: 100%;
      filter: brightness(0) invert(1);
}
.footer__logo{
  width: 40%;
}
li{
 font-size: 0.8rem;
 font-weight: bold;
}

ul{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.6rem;
}
@media screen and (min-width:768px){
  .footer__logo{
    width: unset;
  }
  li{
    font-size: unset;
  }
}
@media screen and (max-width:425px) {
  ul{
        margin: 12px auto;
  }
  .email{
width: 131px;
  }
  .input{
    margin: auto;
        width: 230px;
    padding-left: 9px;
  }
  .round{
        padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
  } 
}